:root {

   // container

   --container-width: 1290px;
   --container-padding: 15px;

   // fonts

   --font-primary: "Golos Text", sans-serif;
   --font-secondary: "Onest", sans-serif;

   // colors

   --color-text: #000;

   --color-bg: #fff;
}