.additional {
   background: url('../img/decor/additional-bg.svg') no-repeat top 315px center;

   &__inner {
      display: flex;
      justify-content: space-between;
      gap: 30px;

      @include laptop-small {
         flex-direction: column;
      }
   }

   &__heading {
      width: 100%;
      max-width: 374px;
      flex-shrink: 0;

      @include laptop-small {
         max-width: none;
      }
   }

   &__title {
      margin: 0 0 15px;
   }

   &__subtitle {
      font-size: 18px;
      line-height: 1.2;
      color: var(--color-text-secondary);
   }

   &__cards {
      width: 100%;
      max-width: 793px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;

      @include laptop-small {
         max-width: none;
      }

      @include tablet {
         grid-template-columns: 1fr;
      }
   }
}