.blog {
   border-radius: 50px;
   background: #fff;

   &__title {
      margin: 0 0 40px;
   }

   &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 30px;

      @include laptop-small {
         grid-template-columns: repeat(2, 1fr);
      }

      @include tablet {
         grid-template-columns: 1fr;
      }
   }

   &__card {

      &:nth-child(1),
      &:nth-child(2) {
         grid-row: span 2;
      }
   }

   &__card-top {
      height: 190px;

      @include laptop-small {
         height: 234px;
      }

      &--large {
         height: 468px;

         @include laptop-small {
            height: 234px;
         }
      }
   }
}