.card {
   display: flex;
   flex-direction: column;

   &:hover {

      .card__icon {
         bottom: -20px;
         transform: rotate(-180deg);
      }

      .card__bottom {
         background: #5b7dde;
      }

      .card__title,
      .card__text {
         color: #fff;
      }
   }

   &__top {
      position: relative;
      height: 234px;
   }

   &__image {
      border-radius: 15px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
   }

   &__icon {
      position: absolute;
      right: 10px;
      bottom: 10px;
      border-radius: 47px;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      transition: all 0.2s;
   }

   &__icon-img {}

   &__bottom {
      display: flex;
      flex-direction: column;
      gap: 6px;
      border-radius: 15px;
      padding: 18px;
      height: 100%;
      background: #f4f6f8;
      transition: all 0.2s;

      &--white {
         background: #fff;
      }
   }

   &__title {
      font-weight: 600;
      font-size: 18px;
      color: #161c24;
      transition: all 0.2s;
   }

   &__text {
      font-size: 16px;
      line-height: 1.2;
      color: #454f5b;
      transition: all 0.2s;
   }
}