.card {

   &:hover {

      .card__icon {
         bottom: -20px;
         transform: rotate(-180deg);
      }

      .card__bottom {
         background: #5b7dde;
      }

      .card__title,
      .card__text {
         color: #fff;
      }
   }

   &__top {
      position: relative;
   }

   &__image {
      border-radius: 15px;
   }

   &__icon {
      position: absolute;
      right: 10px;
      bottom: 10px;
      border-radius: 47px;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      transition: all 0.2s;
   }

   &__icon-img {}

   &__bottom {
      border-radius: 15px;
      padding: 18px;
      background: #f4f6f8;
      transition: all 0.2s;
   }

   &__title {
      margin: 0 0 6px;
      font-weight: 600;
      font-size: 18px;
      color: #161c24;
      transition: all 0.2s;
   }

   &__text {
      font-size: 16px;
      line-height: 1.2;
      color: #454f5b;
      transition: all 0.2s;
   }
}