.header {
   z-index: 10;
   border-radius: 0 0 20px 20px;
   padding: 16px 0;
   box-shadow: 0 -26px 82px 0 rgba(55, 80, 117, 0.15);
   background: #fff;

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      @media (max-width: 1200px) {
         justify-content: flex-start;
      }
   }

   &__logo {
      flex-shrink: 0;

      @media (max-width: 500px) {
         width: 100px;
      }

      @media (max-width: 400px) {
         display: none;
      }
   }

   &__logo-img {}

   // menu

   &__menu {

      @media (max-width: 1200px) {
         display: none;
      }

      &--active {

         @media (max-width: 1200px) {
            display: block;
         }
      }
   }

   &__menu-list {
      display: flex;
      align-items: center;
      gap: 12px;
   }

   &__menu-item {}

   &__menu-link {
      border-radius: 58px;
      padding: 8px 16px;
      font-size: 16px;
      color: #161c24;
      background: #f4f6f8;

      &:hover {
         color: #fff;
         background: #5b7dde;
      }
   }

   // menu-toggler

   &__menu-toggler {
      position: relative;
      margin: 0 0 0 auto;
      width: 32px;
      height: 32px;
      display: none;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;

      @media (max-width: 1200px) {
         display: flex;
      }

      @media (max-width: 400px) {
         margin: 0 auto 0 0;
      }

      &--active {

         .header__menu-toggler-icon--open {
            transform: scale(0);
         }

         .header__menu-toggler-icon--close {
            transform: scale(1);
         }
      }
   }

   &__menu-toggler-icon {
      position: absolute;
      top: 5px;
      left: 5px;
      transition: all .2s;

      &--open {}

      &--close {
         transform: scale(0);
      }
   }

   &__time {
      font-weight: 500;
      font-size: 13px;
      color: #5b5b5b;
   }

   &__phone {
      padding: 0 0 0 13px;

      @media (max-width: 1200px) {
         padding: 0;
      }
   }

   &__phone-btn {
      border-radius: 8px;
      border: 1px solid transparent;
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f4f6f8;

      &:hover {
         border: 1px solid #5b7dde;
      }
   }

   &__phone-img {}
}