.header {
   z-index: 10;
   border-radius: 0 0 20px 20px;
   padding: 16px 0;
   box-shadow: 0 -26px 82px 0 rgba(55, 80, 117, 0.15);
   background: #fff;

   &--active {

      @include laptop {
         position: fixed;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         overflow-y: auto;
      }
   }

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      @include laptop {
         justify-content: flex-start;
      }
   }

   // logo

   &__logo {
      flex-shrink: 0;

      @include tablet {
         width: 100px;
      }

      @include mobile {
         display: none;
      }
   }

   &__logo-img {}

   // menu

   &__menu {

      @include laptop {
         pointer-events: none;
         visibility: hidden;
         position: absolute;
         top: 85px;
         left: -120%;
         padding: 30px;
         width: 100%;
         background: #fff;
         transition: all .2s;
      }

      @include tablet {
         top: 70px;
      }

      &--active {

         @include laptop {
            pointer-events: all;
            visibility: visible;
            left: 0;
         }
      }
   }

   &__menu-list {
      display: flex;
      align-items: center;
      gap: 12px;

      @include laptop {
         flex-direction: column;
      }
   }

   &__menu-item {}

   &__menu-link {
      border-radius: 58px;
      padding: 8px 16px;
      font-size: 16px;
      color: var(--color-text-primary);
      background: #f4f6f8;

      &:hover {
         color: #fff;
         background: var(--color-primary);
      }
   }

   // menu-toggler

   &__menu-toggler {
      position: relative;
      margin: 0 0 0 auto;
      width: 32px;
      height: 32px;
      display: none;
      flex-shrink: 0;

      @include laptop {
         display: block;
      }

      @include mobile {
         margin: 0 auto 0 0;
      }

      &--active {

         .header__menu-toggler-icon--open {
            transform: translate(-50%, -50%) scale(0);
         }

         .header__menu-toggler-icon--close {
            transform: translate(-50%, -50%) scale(1);
         }
      }
   }

   &__menu-toggler-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .2s;

      &--open {}

      &--close {
         transform: translate(-50%, -50%) scale(0);
      }
   }

   // time

   &__time {
      font-weight: 500;
      font-size: 13px;
      color: #5b5b5b;
   }

   // phone

   &__phone {
      padding: 0 0 0 13px;

      @include laptop {
         padding: 0;
      }
   }

   &__phone-btn {
      border-radius: 8px;
      border: 1px solid transparent;
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f4f6f8;

      &:hover {
         border: 1px solid var(--color-primary);
      }
   }

   &__phone-img {}
}