.hero {
   margin-top: -20px;
   padding: 66px 0 140px;
   background: url('../img/decor/hero-bg.svg') no-repeat top 100px center;

   @include tablet {
      padding: 66px 0 100px;
      background-image: none;
   }

   @include mobile {
      padding: 46px 0 80px;
   }

   &__info {
      overflow: hidden;
      border-radius: 20px;
      padding: 32px;
      margin: 0 0 16px;
      min-height: 563px;
      background: url('../img/photos/hero.jpg') no-repeat center / cover;

      @media (min-resolution: 192dpi) {
         background-image: url('../img/photos/hero@2x.jpg');
      }

      @include tablet {
         padding: 20px;
         min-height: 460px;
      }

      @include mobile {
         padding: 0;
         min-height: auto;
         background: none;
      }
   }

   &__heading {
      border-radius: 20px;
      padding: 30px 40px 40px;
      max-width: 740px;
      background: #fff;

      @include tablet {
         padding: 20px 30px 30px;
      }
   }

   &__title {
      margin: 0 0 12px;
      font-family: "Onest", sans-serif;
      font-weight: 700;
      font-size: 52px;
      line-height: 1.1;
      text-wrap: balance;
      color: #161c24;

      @include tablet {
         font-size: 36px;
      }

      @include mobile {
         font-size: 26px;
      }
   }

   &__title-mark {
      color: #5b7dde;
   }

   &__text {
      font-size: 18px;
      line-height: 1.3;
      color: #161c24;

      @include mobile {
         font-size: 16px;
      }
   }

   &__image {}

   &__features {
      gap: 16px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @include tablet {
         grid-template-columns: 1fr;
      }
   }

   &__feature {
      position: relative;
      border-radius: 15px;
      padding: 24px 24px 24px 78px;
      background: #fff;

      @include laptop-small {
         padding: 24px 14px 24px 68px;
      }

      @include tablet {
         padding: 24px 24px 24px 78px;
      }
   }

   &__feature-icon {
      position: absolute;
      top: 24px;
      left: 24px;
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f4f6f8;

      @include laptop-small {
         left: 14px;
      }

      @include tablet {
         left: 24px;
      }
   }

   &__feature-img {}

   &__feature-title {
      margin: 0 0 6px;
      font-weight: 600;
      font-size: 16px;
      color: #161c24;
   }

   &__feature-text {
      font-size: 16px;
      line-height: 1.2;
      color: #454f5b;
   }
}