.rental {
   border-radius: 50px 50px 0 0;
   padding: 170px 32px;
   background: url('../img/photos/rental.jpg') no-repeat center / cover;

   @media (min-resolution: 192dpi) {
      background-image: url('../img/photos/rental@2x.jpg');
   }

   @include laptop {
      padding: 100px 32px;
   }

   @include laptop-small {
      padding: 64px 32px;
   }

   @include tablet {
      padding: 0;
      background-image: none;
   }

   &__inner {
      border-radius: 30px;
      padding: 48px;
      max-width: 834px;
      background: #fff;

      @include laptop-small {
         max-width: none;
      }

      @include tablet {
         padding: 32px 32px 100px;
      }

      @include mobile {
         padding: 32px 15px 100px;
      }
   }

   &__title {
      margin: 0 0 24px;
   }

   &__text-box {
      display: flex;
      flex-direction: column;
      gap: 16px;
   }

   &__text {
      font-size: 18px;
      line-height: 1.4;
      color: var(--color-text-secondary);
   }

   &__link {
      display: inline;
      font-weight: 600;
      color: var(--color-primary);

      &:hover {
         text-decoration: underline;
      }
   }

   &__strong {
      font-weight: 600;
   }
}